<md-dialog flex="100" flex-gt-xs="50" aria-label="Change Password dialog">

  <form name="form" role="form" novalidate>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Password</h2>
        <span flex></span>
        <ng-md-icon aria-label="Close dialog" icon="close" class="icon-close"
        ng-click="onClose()">
        </ng-md-icon>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content layout="column" layout-padding>

        <md-input-container>
          <label>Old Password</label>
          <input type="password" name="oldPassword"
            ng-model="formData.oldPassword" required>
          <div ng-messages="form.oldPassword.$error" ng-show="form.$submitted">
            <div ng-message="required">Field required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>New Password</label>
          <input type="password" name="newPassword"
            ng-model="formData.newPassword" required>
          <div ng-messages="form.newPassword.$error" ng-show="form.$submitted">
            <div ng-message="required">Field required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Confirmed Password</label>
          <input type="password" name="confirmedPassword"
            ng-model="formData.confirmedPassword" required>
          <div ng-messages="form.confirmedPassword.$error" ng-show="form.$submitted">
            <div ng-message="required">Field required</div>
          </div>
        </md-input-container>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" md-primary md-raised ng-click="onClose()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-raised md-primary"
        ng-disabled="isSaving || !form.$valid"
        ng-click="onSave(form.$valid)">
        {{ !isSaving ? 'Save' : 'Saving...' }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
