<md-dialog flex="100" flex-gt-xs="40" aria-label="Package dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>View Order</span>
            <span flex></span>
            <ng-md-icon icon="close" class="icon-close" ng-click="onCancel()" aria-label="Close dialog"></ng-md-icon>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-padding">
           <div layout="row" layout-align="center center">
             <md-card>
               <img ng-src="{{order.toQrCode()}}" width="150" style="width:150px;" />
             </md-card>
           </div>

           <md-card>

                <form name="form" novalidate>

                    <div layout="column" layout-padding>

                            <h3># Order {{order.numberOrder}}</h3>

                            <md-input-container class="md-block no-margin" flex>
                                <label>Restaurant</label>
                                <input name="Restaurant" ng-value="order.restaurant.name" disabled="true">
                            </md-input-container>

                            <md-input-container class="md-block no-margin" flex>
                                <label>Status</label>
                                <input name="status" ng-value="order.statusOrder" disabled="true">
                            </md-input-container>

                            <md-input-container class="md-block no-margin" flex ng-if="order.reason">
                                <label>Reason</label>
                                <input name="payment" ng-value="order.reason" disabled="true">
                            </md-input-container>
                            
                            <md-input-container class="md-block no-margin" flex>
                                <label>Order Type</label>
                                <input name="payment" ng-value="order.orderType" disabled="true">
                            </md-input-container>
                        
                            <md-input-container class="md-block no-margin" flex>
                                <label>Order date</label>
                                <input name="payment" ng-value="orderCreatedAt | date: 'yyyy-MM-dd HH:mm'" disabled="true">
                            </md-input-container>
                        
                            <md-input-container class="md-block no-margin" flex>
                                <label>Delivery Time</label>
                                <input name="payment" ng-value="orderdeliveryTime || '---'" disabled="true">
                            </md-input-container>
                        
                            <md-input-container class="md-block no-margin" flex>
                                <label>Payment</label>
                                <input name="payment" ng-value="order.payment" disabled="true">
                            </md-input-container>
                            
                            <md-card>
                            
                                <md-list-item class="md-3-line" ng-repeat="item in order.items">
                                  <div class="md-list-item-text" layout="column">
                                    <h3 class="no-margin">
                                        {{ item.quantity }} x {{ item.name }}
                                    </h3>
                                    <h4 ng-if="item.discountedPrice == 0">
                                        <small>
                                            <span> {{ item.price | currency:'':0 }} </span> 
                                        </small>
                                    </h4>
                                    <p ng-if="item.discountedPrice > 0">
                                        <small> 
                                            <span class="price-underline">
                                                {{ item.price | currency:'':0 }}
                                                </span> 
                                            <span>{{ item.discountedPrice | currency:'':0 }}</span> 
                                        </small>
                                    </p>
                                    <span class="estilo-note-item">
                                      Notes: {{ item.notes == "" ? '---' : item.notes }}
                                    </span>
                                    <p class="md-secondary md-body-1 padding-items-order">{{ item.amount | currency:'':0 }}</p>
                                  </div>
                                </md-list-item>

                                <md-divider></md-divider>
            

                                <div layout="row">
                                    <p flex class="md-body-1 no-margin">Subtotal</p>
                                    <p flex="20" class="md-body-1 no-margin text-right acomodar-price-items">
                                        {{ order.subtotal | currency:'':0 }}
                                    </p>
                                </div>
                                <div layout="row" ng-if="order.deliveryFee > 0">
                                    <p flex class="md-body-1 no-margin">Delivery Fee</p>
                                    <p flex="20" class="md-body-1 no-margin text-right acomodar-price-items">
                                        {{ order.deliveryFee | currency:'':0 }}
                                    </p>
                                </div>
    
                                <div layout="row">
                                    <p flex class="md-body-1 no-margin">Total</p>
                                    <p flex="20" class="md-body-1 no-margin text-right acomodar-price-items">
                                        {{ order.total | currency:'':0 }}
                                    </p>
                                </div>
                                
                            </md-card>

              
                    </div>

                </form>

            </md-card>
        </md-content>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" md-primary md-raised ng-click="onCancel()">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>